body{
    background-color: #21373d;
    color: white;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    border-radius: 20px;
    border:1px 2px 2px 1px;
    border-color: black;
    border-style: solid;
    background-color: #32454d;
    width: 25%;
    margin-left: 35%;
    padding: 35px;

}
.search{
    background-color: #21373d;
    color: white;
    font:15px system-ui;
}
.abc{
    font-size: 20px;
}
